[submodule "3rdparty/tvm-unity"]
	path = 3rdparty/tvm-unity
	url = https://github.com/narangkay/mlc-ai-relax
[submodule "web-llm"]
	path = web-llm
	url = https://github.com/narangkay/web-llm
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "relax"]
	path = relax
	url = https://github.com/mlc-ai/relax
[submodule "web-llm-src"]
	path = web-llm-src
	url = https://github.com/mlc-ai/web-llm
