[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "relax"]
	path = relax
	url = https://github.com/narangkay/mlc-ai-relax
    branch = cacheprogress
[submodule "web-llm-src"]
	path = web-llm-src
	url = https://github.com/narangkay/web-llm
	branch = cacheprogress
